<html>
<head>
    <title>Brand Info</title>
    <link href="css/custom.css" rel='stylesheet' type="text/css">
    <link href="../../css/custom.css" rel='stylesheet' type="text/css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
    <body>
        <div class="container">

            <h1><center>Store Index</center></h1>

            <div class="col-xs-8">
                <h2>{{ store.getName }} - Main Page</h2>

                {% if brands is not empty %}
                    <h4>Brands that are carried by {{ store.getName }}:</h4>
                    <ul>
                    {% for brand in brands %}
                        <li><a href="/brand/{{ brand.getId }}">{{ brand.getName }}</a></li>
                    {% endfor %}
                    </ul>

                {% else %}
                    <p>This store currently carries no brands of shoes.</p>
                {% endif %}

                <br>
                <h4>Did we miss something? If you've seen shoes for sale in this store, please let us know!:</h4>
                <form action="/store/{{ store.getId }}/add_brand" method="post">
                    <input id="id" name="id" type="hidden" value="{{ store.getId() }}">
                    <label for="name">Enter a new brand:</label>
                    <input id="name" name="name" type="text" required>
                    <button type="submit" class="btn-md">Add brand</button>
                </form>
                {% if message == true %}
                <h4 style="color:red">This store already carries that brand</h4>
                {% endif %}
            <br>
            </div>



            <div class="col-md-4">
                <br>
                <form action="/" method="get">
                    <button type="submit" class="btn-lg" style="background-color:white; width:250px">HOME</button>
                </form>
                <form action="/brands" method="get">
                    <button type="submit" class="btn-lg btn-danger" style="width:250px">View shoe brands</button>
                </form>
                <form action="/stores" method="get">
                    <button type="submit" class="btn-lg btn-primary" style="width:250px">View shoe stores</button>
                </form>
            </div>


    </body>
</html>
